.error-ui__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100vh;
	position: relative;
	padding: 1rem;
}

.error-ui__image {
	width: 200px;
  transform: translateY(-25%);
}

.error-ui__text {
	transform: translateY(-50%);
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media screen and (min-width: 1024px) {
	.error-ui__container {
		width: 1008px;
    height: 660px;
	}
}
