.dropdown-wrapper {
	position: absolute;
	width: 100%;
	background-color: var(--soft-lavender-gray);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
	left: 0;
	bottom: 0;
	transform: translateY(100%);
	border-radius: 0 0 0.75rem 0.75rem;
	overflow: hidden;
}

.dropdown-list .dropdown-list__item:last-child {
	border: none;
}

.dropdown-list__item {
	display: flex;
	align-items: center;
	justify-content: space-between;

	border-bottom: 1px solid var(--misty-silver);
	padding: 1rem 1.25rem;
	cursor: pointer;
}

.dropdown-list__item:hover {
	background-color: var(--misty-silver);
}

.message {
	padding: 1rem 1.25rem;
}

.focused {
  background-color: var(--misty-silver);
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
	.dropdown-wrapper {
		bottom: -16px;
	}
}
