.loading-ui__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100vh;
	position: relative;
}

.loading-ui__image {
	width: 400px;
}

.loading-ui__text {
	position: absolute;
	transform: translateY(200%);
	font-size: 1.5rem;
  text-align: center;
}

@media screen and (min-width: 1024px) {
	.loading-ui__container {
		width: 1008px;
    height: 660px;
	}
}
