/*--------------------------- RESET CSS --------------------------*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/* 
  2. Remove default margin 
*/
* {
  margin: 0;
  padding: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  avoid auto-zoom behavior
*/
input, button, textarea, select {
  font-size: 1rem;
}

/*
  8. Create a root stacking context
  
  the isolation property allows us to create a new stacking context 
  without needing to set a z-index.

  This is beneficial since it allows us to guarantee that certain 
  high-priority elements (modals, dropdowns, tooltips) will always 
  show up above the other elements in our application. 
  No weird stacking context bugs, no z-index arms race.
*/
#root, #__next {
  isolation: isolate;
}

/*
  set list style to none
*/
li {
  list-style: none;
}